@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html, body{
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
body{
    flex-flow: column nowrap;
}
.nav{
    min-height: 8vh;
    padding: 1% 1%;
    background: rgb(29, 29, 45);
    color: white;

} 
.header{
    display: flex;
    align-self: center;
    align-content: center;
}

.nav-links{
    display: flex;
    width:100%;
    justify-content: space-around;
}

.logo{
    color: rgb(169, 50, 50);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
}

.section{
    flex-grow: 1;
    padding: 0px 4px;
    position: relative;
    text-align: center;
}

#speedValue, #numberValue{
    color: whitesmoke;
}

.slider {
    width: 100%;
    height: 4px;
    outline: none;
    border-radius: 12px;
    opacity: 0.7;
    transition: opacity 0.2s;
  }
   
   .slider:hover {
    opacity: 1;
  }

  /* Dropdown styling */
  select {
      padding: 8px 12px;
      margin: 2px;
      border: 0px;
      color: white;
      background: rgb(53, 43, 97);
      border-radius: 4px;
      cursor: pointer;
    }
    select:hover{
        background-color: rgb(27, 25, 32);
    }
    
    option {
        color: white;
        background-color: rgb(124, 128, 219);
    }
    
    option:checked {
        background: rgb(42, 43, 63);
        color: white;
    }

/* Button styling */
    button {
        padding: 8px 12px;
        border-radius: 7px;
        width: 70%;
        border: 0;
        background: rgb(232, 233, 222);
        color: rgb(14, 12, 12);
        margin: 2px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease;
      }
    
      button:hover {
        background: rgb(142, 142, 183);
      }

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
   width: 20px;
   height: 2px;
   background-color: white;
   margin: 5px;
   transition: all 0.4s ease;
}

.expand {  
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
  
  .table {
      background: rgb(32, 33, 42);
      flex-grow: 1;
      width: 100%;
      height: auto;
      white-space: nowrap;
      padding: 45px;
      background-size: 5px 5px;
      background-image: linear-gradient( to right, rgb(20, 20, 27) 2px, transparent 1px), linear-gradient(to bottom, rgb(5, 5, 10) 2px, transparent 1px);   
    }

.chart {
    flex-grow: 1;
    display: inline-block;
    height: 100%;
    color: white;
    margin-right: 0.2%;
    text-align: center;
    font-size: 0.5em;
    border-radius: 50px;
    align-content: flex-end;
  }

  .bar {
  width: 100%;
  height: 0px;
  background: linear-gradient(rgb(225, 72, 37), rgb(89, 8, 8));
  border-radius: 1px;
} 

 .bar:hover {
  background: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
}

.curr {
  background: white;
}

.unsorted {

  background: linear-gradient(rgb(12, 181, 79), rgb(21, 103, 38));
} 


/* Responsive */
@media screen and (max-width:1024px){
   button{
       width: 100%;
   }
}

@media screen and (max-width:768px){
    
   body{
        overflow-x: hidden;
        overflow-y: hidden;
    } 

    .burger{
        display: block;
        right: 16px;
        top:10px;
        position: absolute;
    }

   .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        background-color:rgb(16, 17, 26);
        top: 8vh; 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        opacity: 0;
        transition: all 0.7s ease-in-out;
    }
    .section{
        transition: all 0.7s ease-in-out;
    }

    .nav-links div{
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}
.nav-active{
    opacity: 1;
}

@keyframes navLinkFade{
    from{
        opacity: 0%;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform:translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);    
}